In [1]:
import re
import numpy as np
from datetime import datetime

import pyspark
import pyspark.sql.functions as F
from pyspark.sql import SparkSession

First we will setup a spark context, load our csvs from the filesystem (whether it's just our local example from the pandas pipe or a giant dataset stored in hdfs). We will merge the two files into one dataframe object.

In [2]:
s = SparkSession.builder.appName("my_app_name").getOrCreate()
s.sparkContext.setLogLevel("ERROR")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/23 11:16:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df1 = s.read.csv('data1.csv', header=True, inferSchema=True)
df2 = s.read.csv('data2.csv', header=True, inferSchema=True)

In [4]:
df = df1.unionByName(df2, allowMissingColumns=True)
df = df.withColumn("index", F.monotonically_increasing_id())

In [5]:
print((df.count(), len(df.columns)))

(200, 13)

In [14]:
df.drop("index").show()

+---------+-------+---------+---------+----+------+------+------+--------+-----+-----+----------+
|SymxUUBCx|RcKB398|uNQMYeBmQ|lOihuqh9a|pIkq|21rkd6|yLdLOm|CLrQTb|LFThQKIw| sYef|00L3k|       OjQ|
+---------+-------+---------+---------+----+------+------+------+--------+-----+-----+----------+
|     null|     74|       94|        7|  89|    96|     1|    93|       1|abc23| 50.0|2020-02-01|
|     null|     90|       68|       94|  72|    32|    81|    58|       0|abc23| 50.0|2020-02-01|
|     null|     79|       10|       99|  39|    76|    28|    44|       1|  nan| 50.0|2020-02-01|
|     null|      5|       83|       78|  26|    96|    79|    66|       0|   81| 50.0|2020-02-01|
|     null|     66|       89|       70|  17|    43|    95|    89|       1|   75| 50.0|2020-02-01|
|     null|     44|       89|       85|  87|    90|    45|    72|       0|abc23| 50.0|2020-02-01|
|     null|     36|       94|       28|   6|    75|    54|    18|       0| null| 10.0|2020-02-01|
|     null|     49|       94|       98|  24|    15|    10|    40|       0|abc23| 50.0|2020-02-01|
|     null|      8|       16|       51|  57|    11|    47|    54|       0|   99| 50.0|2020-02-01|
|     null|     33|       67|       98|   1|    40|    16|    87|       0|   34| 50.0|2020-02-01|
|     null|     89|       84|       71|  12|    36|    23|    41|       1|  nan| 10.0|2020-02-01|
|     null|     52|       89|       13|  87|    35|    56|    11|       1|  nan| 10.0|2020-02-01|
|     null|     76|        6|       60|  67|    89|    53|     1|       1|   37| 50.0|2020-02-01|
|     null|     87|       62|       53|  91|    27|    30|    69|       0|   79| 10.0|2020-02-01|
|     null|     43|       15|       12|  56|    91|    87|    51|       1|   40| 50.0|2020-02-01|
|     null|     60|        5|       70|  55|    12|    61|    69|       1|   97| 10.0|2020-02-01|
|     null|     16|       34|       11|  38|    24|    13|    11|       1|abc23| 50.0|2020-02-01|
|     null|     94|       20|       98|  63|    17|    73|     4|       0|abc23| 50.0|2020-02-01|
|     null|     21|       18|       49|  90|     8|    36|    38|       0|abc23| 50.0|2020-02-01|
|     null|     45|        4|       79|  29|    53|    36|    11|       0|    0| 10.0|2020-02-01|
+---------+-------+---------+---------+----+------+------+------+--------+-----+-----+----------+
only showing top 20 rows

In [15]:
df.orderBy(F.desc("index")).drop("index").show(20)

+---------+-------+---------+---------+----+------+------+------+--------+-----+-----+----------+
|SymxUUBCx|RcKB398|uNQMYeBmQ|lOihuqh9a|pIkq|21rkd6|yLdLOm|CLrQTb|LFThQKIw| sYef|00L3k|       OjQ|
+---------+-------+---------+---------+----+------+------+------+--------+-----+-----+----------+
|     null|     30|       57|       49|  34|    83|    26|    43|       0|  nan| 50.0|2020/02/01|
|     null|      8|       92|       51|  37|    23|    46|    86|       1|abc23| 10.0|2020/02/01|
|     null|     27|       65|       20|  37|    29|    73|    70|       0|abc23| 10.0|2020/02/01|
|     null|     49|       56|       42|  88|    49|    79|    11|       1| null| 10.0|2020/02/01|
|     null|     46|       46|       84|  75|    97|    92|    11|       1|   86| 50.0|2020/02/01|
|     null|     11|       28|       53|  99|    77|    21|    60|       1|abc23| 50.0|2020/02/01|
|     null|     58|       53|       38|  21|    53|    71|    52|       1|abc23| 50.0|2020/02/01|
|     null|     67|       92|       95|  31|    89|    86|    11|       0|abc23| 50.0|2020/02/01|
|     null|     46|        1|       93|  84|    59|    80|    31|       1|abc23| 10.0|2020/02/01|
|     null|     67|       13|       40|  81|    21|    35|    24|       0|   13| 50.0|2020/02/01|
|     null|     43|       63|       82|  87|    52|    29|    83|       1|abc23| 50.0|2020/02/01|
|     null|     24|       98|       64|  38|    20|    25|    83|       0|abc23| 10.0|2020/02/01|
|     null|      8|       54|       63|  47|     4|    35|    84|       0|abc23| 50.0|2020/02/01|
|     null|     69|       67|       82|  30|    96|    54|    25|       1| null| 50.0|2020/02/01|
|     null|     19|       80|       68|  95|    62|    19|    80|       1|abc23| 50.0|2020/02/01|
|     null|     92|       38|       79|  24|    90|    40|    20|       1|abc23| 50.0|2020/02/01|
|     null|     78|       91|       84|  16|    40|    82|    88|       1|abc23| 10.0|2020/02/01|
|     null|     36|        7|       68|  13|     8|    69|    50|       0|abc23| 10.0|2020/02/01|
|     null|     99|       92|       87|  82|    10|    51|    56|       1|abc23| 50.0|2020/02/01|
|     null|     27|       97|       65|  13|    24|    62|    36|       1|  nan| 50.0|2020/02/01|
+---------+-------+---------+---------+----+------+------+------+--------+-----+-----+----------+
only showing top 20 rows

In [8]:
df.dtypes

[('SymxUUBCx', 'int'),
 ('RcKB398', 'int'),
 ('uNQMYeBmQ', 'int'),
 ('lOihuqh9a', 'int'),
 ('pIkq', 'int'),
 ('21rkd6', 'int'),
 ('yLdLOm', 'int'),
 ('CLrQTb', 'int'),
 ('LFThQKIw', 'int'),
 ('sYef', 'string'),
 ('00L3k', 'double'),
 ('OjQ', 'string'),
 ('index', 'bigint')]

In [9]:
col1, col2, col3, col4, col5 = df.columns[1], df.columns[8], df.columns[9], df.columns[10], df.columns[11]
(col1, col2, col3, col4, col5)

('RcKB398', 'LFThQKIw', 'sYef', '00L3k', 'OjQ')

In [16]:
dir(F.col(col4))

['__add__',
 '__and__',
 '__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__iter__',
 '__le__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '_asc_doc',
 '_asc_nulls_first_doc',
 '_asc_nulls_last_doc',
 '_bitwiseAND_doc',
 '_bitwiseOR_doc',
 '_bitwiseXOR_doc',
 '_contains_doc',
 '_desc_doc',
 '_desc_nulls_first_doc',
 '_desc_nulls_last_doc',
 '_endswith_doc',
 '_eqNullSafe_doc',
 '_ilike_doc',
 '_isNotNull_doc',
 '_isNull_doc',
 '_jc',
 '_like_doc',
 '_rlike_doc',
 '_startswith_doc',
 'alias',
 'asc',
 'asc_nulls_first',
 'asc_nulls_last',
 'astype',
 'between',
 'bitwiseAND',
 'bitwiseOR',
 'bitwiseXOR',
 'cast',
 'contains',
 'desc',
 'desc_nulls_first',
 'desc_nulls_last',
 'dropFields',
 'endswith',
 'eqNullSafe',
 'getField',
 'getItem',
 'ilike',
 'isNotNull',
 'isNull',
 'isin',
 'like',
 'name',
 'otherwise',
 'over',
 'rlike',
 'startswith',
 'substr',
 'when',
 'withField']

In [18]:
array = [1,2,3,25]
df = df.filter(~F.col(col4).isin(array))

In [11]:
# simple transform
df = df.withColumn(col1, F.col(col1)*5)

# using when to set two different values 
df = df.withColumn(col2, F.when(F.col(col2) == 1, True).otherwise(False))

# only casting to float if we can bring the entire column
row_ct = df.count()
rowswith_col3float = df.filter(F.col(col3).cast("float").isNotNull()).count()
if row_ct == rowswith_col3float:
    df = df.withColumn(col3, F.col(col3).cast("float"))

# using a regex to clean/remove anything non numerical in any string,
# and then do the cast to float for non null (empty str) values
df = df.withColumn(col3, F.regexp_replace(F.col(col3), r"[^0-9\\.]", '').cast("double"))

# using a custom function to convert col4 back to int
# note the necessary redundant logic to process null
def floatint(x):
    return int(float(x))
int_udf = F.udf(lambda m: None if m is None else floatint(m))
df = df.withColumn(col4, F.when(F.col(col4).isNotNull(), int_udf(F.col(col4))).otherwise(None))
# df = df.withColumn(col4, int_udf(F.col(col4))) # can also just do a udf without when

# same, using a regex for matching dates
data_regex = r"\d{2,4}(\.|\-|\/|\\)+\d{2,4}(\.|\-|\/|\\)+\d{2,4}(\s)*(\d{2}\:\d{2}\:\d{2})?(\.\d{3})?|^$"
df = df.withColumn(col5, F.when(F.regexp_replace(F.col(col5), data_regex, '').isNotNull(),\
                                F.to_timestamp(F.col(col5), 'yyyy/MM/dd')).otherwise(None))
# df = df.withColumn(col5, F.to_timestamp(F.col(col5), 'yyyy/MM/dd')) # simpler alternative

# replace and nan in the df with nulls
df = df.replace(np.nan, None)

In [12]:
df.drop("index").show()

+---------+-------+---------+---------+----+------+------+------+--------+----+-----+----+
|SymxUUBCx|RcKB398|uNQMYeBmQ|lOihuqh9a|pIkq|21rkd6|yLdLOm|CLrQTb|LFThQKIw|sYef|00L3k| OjQ|
+---------+-------+---------+---------+----+------+------+------+--------+----+-----+----+
|       51|     10|       37|     null|null|  null|  null|  null|   false|null| null|null|
|       83|    440|       38|     null|null|  null|  null|  null|   false|null| null|null|
|       40|    150|       25|     null|null|  null|  null|  null|   false|null| null|null|
|       27|    260|       66|     null|null|  null|  null|  null|   false|null| null|null|
|       65|    215|       57|     null|null|  null|  null|  null|   false|null| null|null|
|       59|     70|       93|     null|null|  null|  null|  null|   false|null| null|null|
|       28|    420|       20|     null|null|  null|  null|  null|   false|null| null|null|
|       51|      5|       52|     null|null|  null|  null|  null|   false|null| null|null|
|       46|    180|       20|     null|null|  null|  null|  null|   false|null| null|null|
|       28|    100|       63|     null|null|  null|  null|  null|   false|null| null|null|
|       82|    465|       61|     null|null|  null|  null|  null|   false|null| null|null|
|       99|    285|       34|     null|null|  null|  null|  null|   false|null| null|null|
|       30|    145|       34|     null|null|  null|  null|  null|   false|null| null|null|
|       59|     10|       16|     null|null|  null|  null|  null|   false|null| null|null|
|       17|    125|       18|     null|null|  null|  null|  null|   false|null| null|null|
|        9|    440|        2|     null|null|  null|  null|  null|   false|null| null|null|
|       54|    315|       90|     null|null|  null|  null|  null|   false|null| null|null|
|        1|     10|       73|     null|null|  null|  null|  null|   false|null| null|null|
|        3|    355|       63|     null|null|  null|  null|  null|   false|null| null|null|
|        9|    160|       57|     null|null|  null|  null|  null|   false|null| null|null|
+---------+-------+---------+---------+----+------+------+------+--------+----+-----+----+
only showing top 20 rows

In [13]:
# the last 20 rows
df.orderBy(F.desc("index")).drop("index").show(20)

+---------+-------+---------+---------+----+------+------+------+--------+----+-----+-------------------+
|SymxUUBCx|RcKB398|uNQMYeBmQ|lOihuqh9a|pIkq|21rkd6|yLdLOm|CLrQTb|LFThQKIw|sYef|00L3k|                OjQ|
+---------+-------+---------+---------+----+------+------+------+--------+----+-----+-------------------+
|     null|    150|       57|       49|  34|    83|    26|    43|   false|null|   50|2020-02-01 00:00:00|
|     null|    410|       68|       92|  68|    43|    76|    61|    true|23.0|   25|2020-02-01 00:00:00|
|     null|     40|       92|       51|  37|    23|    46|    86|    true|23.0|   10|2020-02-01 00:00:00|
|     null|     65|        7|       89|  81|    52|    86|    87|   false|34.0|   25|2020-02-01 00:00:00|
|     null|    135|       65|       20|  37|    29|    73|    70|   false|23.0|   10|2020-02-01 00:00:00|
|     null|    245|       56|       42|  88|    49|    79|    11|    true|null|   10|2020-02-01 00:00:00|
|     null|    230|       46|       84|  75|    97|    92|    11|    true|86.0|   50|2020-02-01 00:00:00|
|     null|     55|       28|       53|  99|    77|    21|    60|    true|23.0|   50|2020-02-01 00:00:00|
|     null|     45|       27|       89|  99|    57|    36|    59|    true|23.0|   25|2020-02-01 00:00:00|
|     null|    290|       53|       38|  21|    53|    71|    52|    true|23.0|   50|2020-02-01 00:00:00|
|     null|    425|       67|       48|  19|    35|     1|    72|   false|23.0|   25|2020-02-01 00:00:00|
|     null|    335|       92|       95|  31|    89|    86|    11|   false|23.0|   50|2020-02-01 00:00:00|
|     null|    230|        1|       93|  84|    59|    80|    31|    true|23.0|   10|2020-02-01 00:00:00|
|     null|    335|       13|       40|  81|    21|    35|    24|   false|13.0|   50|2020-02-01 00:00:00|
|     null|    215|       63|       82|  87|    52|    29|    83|    true|23.0|   50|2020-02-01 00:00:00|
|     null|    120|       98|       64|  38|    20|    25|    83|   false|23.0|   10|2020-02-01 00:00:00|
|     null|     40|       54|       63|  47|     4|    35|    84|   false|23.0|   50|2020-02-01 00:00:00|
|     null|    345|       67|       82|  30|    96|    54|    25|    true|null|   50|2020-02-01 00:00:00|
|     null|     95|       80|       68|  95|    62|    19|    80|    true|23.0|   50|2020-02-01 00:00:00|
|     null|    460|       38|       79|  24|    90|    40|    20|    true|23.0|   50|2020-02-01 00:00:00|
+---------+-------+---------+---------+----+------+------+------+--------+----+-----+-------------------+
only showing top 20 rows

In [14]:
df.dtypes

[('SymxUUBCx', 'int'),
 ('RcKB398', 'int'),
 ('uNQMYeBmQ', 'int'),
 ('lOihuqh9a', 'int'),
 ('pIkq', 'int'),
 ('21rkd6', 'int'),
 ('yLdLOm', 'int'),
 ('CLrQTb', 'int'),
 ('LFThQKIw', 'boolean'),
 ('sYef', 'double'),
 ('00L3k', 'string'),
 ('OjQ', 'timestamp'),
 ('index', 'bigint')]

You can see the same kinds of transforms are avaialable in pyspark and you can do most of what you'd do with a dataframe. There's also ways to do this outside the dataframe api with a raw rdd but that's beyond the scope of what I wanted to show here.

# This example was simple but your data problems may be complex.

# For any of your complex data problems I'm available to hire on contract to help you build and scale whatever data decision engine you need for your business. 

# Reach out by messaging inquire@automatedinnovations.net